.school-icon, .logistics-icon, .fleet-icon ,.taxi-dispatch-icon{
    background-repeat: no-repeat;
    background-size: contain;
    width: 7vw;
    height: 7vw;
    margin-left: auto;
    margin-right: auto;
}

.school-icon {
    background-image: url("school.png");
}

.logistics-icon{
    background-image: url("logistics.png");
}

.fleet-icon{
    background-image: url("fleet.png");
}

.taxi-dispatch-icon{
    background-image: url("taxi.png");
}
.application-text {
    font-family: 'Lato', sans-serif;
    font-size: 3.5vw;
    color: #3DBDFF;
    padding: 2vw;
}

.icon-text{
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    color: #3DBDFF;
    padding: 2vw;
}