.banner {
    background-color: #3DBDFF;
}

.banner-main-text-lefty {
    font-family: 'Lato', sans-serif;
    font-size: 3.5vw;
    color: white;
}

.banner-sub-text-lefty {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    color: white;
    padding-top: 1vw;
}

.feature-texty {
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    color: white;
    padding-top: 1vw;
}

.real-time-tracking-icon, .route-deviation-alert-icon,
.high-speed-alert-icon, .multi-vehicle-tracking-icon,
.engine-immobiliser-icon, .theft-alert-icon {

    background-repeat: no-repeat;
    background-size: cover;
    width: 7vw;
    height: 7vw;
    margin-left: auto;
    margin-right: auto;
}

.real-time-tracking-icon {
    background-image: url("1.png");
}

.route-deviation-alert-icon {
    background-image: url("2.png");
}

.high-speed-alert-icon {
    background-image: url("3.png");
}

.multi-vehicle-tracking-icon {
    background-image: url("4.png");
}

.engine-immobiliser-icon {
    background-image: url("5.png");
}

.theft-alert-icon {
    background-image: url("6.png");
}

.iphone-img {
    background-image: url("https://videotron.com/vtrn/images/resi/mobilite/appareils/telephones/app-iphone-se/res-app-iphone-se-vig-01-or_1200x1200.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
}

/*FOR MOBILE*/
@media handheld, screen and (min-width: 300px) and (max-width: 499px) {

    .feature-container {
        margin: 2vw;
    }

    .banner-main-text-lefty {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: white;
    }

    .banner-sub-text-lefty {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .feature-texty {
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        color: white;
        padding-top: 1vw;
    }

}

/*FOR LARGER SCREENS*/
@media handheld, screen and (min-width: 1300px) and (max-width: 1920px) {

    .banner-main-text-lefty {
        font-family: 'Lato', sans-serif;
        font-size: 45px;
        color: white;
    }

    .banner-sub-text-lefty {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        color: white;
        padding-top: 1vw;
    }

}
