.address-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    color: white;
    margin: 1vw;
}

.main-text-right {
    font-family: 'Lato', sans-serif;
    font-size: 3vw;
    color: white;
}

.footer-text {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1vw;
}

.contact {
    background-color: #3DBDFF;
}

.contact-container {
    padding: 2vw;
}

.phone-text {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 2vw;
}

.play-store-png, .app-store-png {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    height: 3vw;
    width: 10vw;
    margin-top: 0vw;

}

.phone-icon, .email-icon {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    height: 3vw;
    width: 3vw;
    margin-top: 0vw;

}

.phone-icon {
    background-image: url("call.png");
}

.email-icon {
    background-image: url("email.png");
}

.play-store-png {
    background-image: url("playstore.png");
}

.app-store-png {
    background-image: url("appstore.png");
}



@media handheld, screen and (min-width: 300px) and (max-width: 499px) {

    .main-text-right {
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        color: white;
    }

    .play-store-png, .app-store-png {
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: contain;
        height: 50px;
        margin-top: 0vw;

    }

    .phone-icon, .email-icon {
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: contain;
        height: 10px;
        width: 3vw;
        margin-top: 0vw;
    }

    .phone-text {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 10px;
    }

    .address-text {
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        color: white;
        margin: 1vw;
    }
}

@media handheld, screen and (min-width: 1300px) and (max-width: 1920px) {

    .main-text-right {
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        color: white;
    }

    .play-store-png, .app-store-png {
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: contain;
        height: 50px;
        margin-top: 0vw;

    }

    .phone-icon, .email-icon {
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
        width: 3vw;
        margin-top: 0vw;
    }

    .phone-text {
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 20px;
    }

    .address-text {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: white;
        margin: 1vw;
    }
}